<table class="table table-striped">
	<thead>	
		<tr>
			<th>Name</th>
			<th>Datetime</th>
			<th>Phone</th>
			<th>Color</th>
		</tr>
	</thead>

	<tbody>
	<% @results.each do |row| %>
		<tr>
			<td><%= row['username'] %></td>
			<td><%= row['datetime'] %></td>
			<td><%= row['phone'] %></td>
			<td style="background-color: <%= row['color'] %>;"><%= row['color'] %></td>
		</tr>
		<%end%>
	</tbody>

</table>